.menu {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.nav {
  position: fixed;
  top: 60px;
  right: 0;
  flex-direction: column;
  transform: translateX(100%);
  width: 70% !important;
  height: 100vh;
  background: var(--primary-color);
  transition: transform 0.3s ease;
  justify-content: start !important;
  align-items: center !important;
}
.nav.opened {
  transform: translateX(0);
}
.nav ul {
  flex-direction: column;
  margin-top: 2rem;
}
