.menu {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.nav {
  position: fixed;
  top: 60px;
  right: 0;
  flex-direction: column;
  transform: translateX(100%);
  width: 300px;
  height: 100vh;
  background: var(--primary-color-light);
  transition: transform 0.3s ease;
  justify-content: start;
  align-items: center;
}
.nav.opened {
  transform: translateX(0);
}
.nav ul {
  flex-direction: column;
  margin-top: 2rem;
}
