.plans-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
.plans-container h2,
.plans-container p {
  color: var(--color-text-dark);
  text-align: center;
}
.plans {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}
