* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--color-text-light);
}
body {
  font-family: var(--main-font);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  width: 100%;
  background: white;
}
.main {
  flex: 1;
  background: #000;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
ul {
  list-style: none;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 58px;
}
@media (max-width: 1440px) {
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 58px;
  }
}
@media (max-width: 1152px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 48px;
  }
}
@media (max-width: 625px) {
  h1 {
    font-size: 42px;
  }
}
