* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
body {
  font-family: var(--main-font);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
  background: #000;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
ul {
  list-style: none;
}
@media (max-width: 1440px) {
  .container {
    padding: 20px;
  }
}
