.fav {
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}
.fav-container {
  position: relative;
  z-index: 2;
}
.section {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}

.section h2,
.section p {
  color: var(--color-text-light);
}
.section div:nth-child(2) {
  background-color: transparent;
}
.bg-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  z-index: 1;
}
.bg-img img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
