.work {
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}
.work-container {
  position: relative;
  z-index: 2;
}
.section {
  align-items: center;
  justify-content: center;
}
.section div:nth-child(2) {
  display: none;
}
.section div:nth-child(1) {
  align-items: center;
  width: 80%;
}
.section h2,
.section p {
  color: var(--color-text-light);
  text-align: center;
}
.bg-img {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: -50px;
  z-index: 1;
}
