.management {
  width: 100%;
  position: relative;
  z-index: 2;
}

.managment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 2;
}
/*
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.text h2,
.text p {
  color: var(--color-text-dark);
}
.text p {
  margin-top: 24px;
}
.img {
  background-color: var(--primary-color-light);
  width: 50rem;
  height: 30rem;
}
.btn {
  background-color: var(--primary-color-light);
  padding: 20px;
  gap: 10px;
  margin-top: 60px;
}*/
.bg-img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -150px;
  z-index: 1;
}
