.management {
  width: 100%;
  position: relative;
  z-index: 2;
}

.managment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 2;
}

.bg-img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -150px;
  z-index: 1;
}
