.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding-top: 140px;
  padding-bottom: 100px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.text h2,
.text p {
  color: var(--color-text-dark);
}
.text p {
  margin-top: 24px;
  font-size: 16px;
}
.img {
  background-color: var(--primary-color-light);
  width: 45rem;
  height: 30rem;
}
.btn {
  background-color: var(--primary-color-light);
  padding: 20px;
  gap: 10px;
  margin-top: 60px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1440px) {
  .img {
    width: 35rem;
    height: 25rem;
  }
}
@media (max-width: 1200px) {
  .img {
    width: 30rem;
    height: 20rem;
  }
  .text p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
  }
  .text {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .btn {
    margin-top: 30px;
  }
  .img {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  .img {
    width: 95%;
    height: 15rem;
  }
}
