.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.btn.opened span:nth-child(1) {
  transform: rotate(45deg) translate(5.5px, 5.5px);
}
.btn.opened span:nth-child(2) {
  opacity: 0;
}
.btn.opened span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
