.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5rem;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-transform: capitalize;
  color: var(--color-text-light);
}
.list li {
  cursor: pointer;
}

.btn {
  background-color: var(--primary-color-light);

  cursor: pointer;
}
